body {    
    background-image: radial-gradient(#2061A7, #001E3D, #06121F);
    /*background-repeat: no-repeat;*/
    background-size: 100% 10000px;
}
 * input {
    border: none;
    outline: none;
    vertical-align: middle;
    position: relative;
    border-radius: 22px;
}
.anal {
    border: none;
    outline: none;
    vertical-align: middle;
    border-radius: 22px;
}
#side_nav {
    background: #001E3D;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}
.content{
   min-height: 100vh;
   width: 100%;
}
hr.h-color{
  background: #eee;
}
.sidebar li.active{
   background: #eee;
   border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover {
 color: #000;
}
.sidebar li a{
 color: #fff;
}
@media(max-width: 767px){
 #side_nav{
   margin-left: -250px;
   position: absolute;
   min-height: 100vh;
   z-index: 1;
 }
 #side_nav.active{
   margin-left: 0;
  }
}